.App{
    text-align: center;
}
.box{
    max-width: 200px;
    margin:auto;
    border-radius: 10px;
    box-shadow: rgba(204, 89, 89, 0.16) 0px 1px 4px ;
    padding: 10px;
    background-color: aquamarine;
}

p{
    font-size: 18px;
    text-align: center;
}
button{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
}
button.add{
    background-color: #1897bf;
    border-radius: 5px;
    border: none;
}
button.sub{
    background-color: #e40b0b;
    border-radius: 5px;
    border: none;
}
button.reset{
    background-color: #1b9ab9;
    border-radius: 5px;
    border: none;

}
